@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }

.winner{
    text-align: center;
    background-color:honeydew;
}

.players{
  text-align: center;
  background-color:honeydew;
}

.table{

  text-align: center;
  border:solid;
  overflow-x:auto;
  margin: auto;
  width: 50%;
  padding: 10px;

}
