@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }

.winner{
    text-align: center;
    background-color:honeydew;
}

.players{
  text-align: center;
  background-color:honeydew;
}