<div class="content">
  <mat-card *ngIf="isVisiblePlayer1" class="player1">
    <mat-card-content>
      <h2> {{playerName}}</h2>
      <h3> Choose your weapon: </h3>
      <div class="content2">
        <i (click)="pick(0)" [ngClass]="{'selectedWeapon':(playerSelected === 0)}" class="fa fa-hand-rock-o"></i>
        <i (click)="pick(1)" [ngClass]="{'selectedWeapon':(playerSelected === 1)}" class="fa fa-hand-paper-o"></i>
        <i (click)="pick(2)" [ngClass]="{'selectedWeapon':(playerSelected === 2)}" class="fa fa-hand-scissors-o"></i>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isVisiblePlayer2" class="player2">
    <mat-card-content>
      <h2> {{player2Name}}</h2>
      <h3> Choose your weapon: </h3>
      <div class="content2">
        <i (click)="pickEnemy(0)" [ngClass]="{'selectedWeaponEnemy':(enemySelected === 0)}"
          class="fa fa-hand-rock-o"></i>
        <i (click)="pickEnemy(1)" [ngClass]="{'selectedWeaponEnemy':(enemySelected === 1)}"
          class="fa fa-hand-paper-o"></i>
        <i (click)="pickEnemy(2)" [ngClass]="{'selectedWeaponEnemy':(enemySelected === 2)}"
          class="fa fa-hand-scissors-o"></i>
      </div>
    </mat-card-content>
  </mat-card>

</div>

<mat-card class="scoreP">
  <h1>Score</h1>
  <mat-card-content>
    <div>
      <h2> {{playerName}}</h2>
      <button mat-fab color="primary" class="score">{{ scores[0] }}</button>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div>
      <h2> {{player2Name}}</h2>
      <button mat-fab color="accent" class="score">{{ scores[1]}}</button>
    </div>
  </mat-card-content>
</mat-card>


<div *ngIf="isResultShow" class="flex-container flex-center" style="flex-direction: column">
  <div [ngSwitch]="theResult">
    <ng-template [ngSwitchCase]="0">
      <h1> You're the winner! </h1>
    </ng-template>
    <ng-template [ngSwitchCase]="1">
      <h1> You lose. </h1>
    </ng-template>
    <ng-template [ngSwitchCase]="2">
      <h1>It's a tie! </h1>
    </ng-template>
    <ng-template ngSwitchDefault> </ng-template>
  </div>
  <p> Pick again to continue or </p>
  <button (click)="reset()" mat-raised-button color="primary"> Reset score</button>
</div>