@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

p {
  font-family: Lato;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.score {
  margin-top: 0.5em;
  margin-left: 2em;
  font-size: 1.5em;
}

.content2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fa {
  cursor: pointer;
  font-size: 5em;
}

.player1 {
  margin-left: 70%;
  margin-top: 15%;
  width: 100%;
  overflow: auto;
}

.player2 {
  margin-left: 70%;
  margin-top: 15%;
  width: 100%;
  overflow: auto;
}

.scoreP {
  margin-top: -300px;
  width: 300px;
  overflow: auto;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-center h1{
  color: azure;
}
