<div class="content">
  <mat-card> 
    <mat-card-content>
      <img src="assets\img\RockPaper.png" style=" width:80%;margin-left: 60px;" >
    </mat-card-content>
  </mat-card>
  <mat-card> 
      <mat-card-content>
          <form>
            <h1>Players!</h1>
            <mat-form-field>
              <textarea  #player1 matInput placeholder="Player 1"></textarea>
            </mat-form-field>
            <br>
            <mat-form-field>
              <textarea #player2 matInput placeholder="Player 2"></textarea>
            </mat-form-field>
            <br>
            <button mat-mini-fab color="primary" (click)="onSelect(player1.value,player2.value)">Play!</button>
            </form>
      </mat-card-content>
    </mat-card>
</div>